<!-- start custom head snippets -->

<!-- insert favicons. use http://realfavicongenerator.net/ -->
<link rel="stylesheet" href="{{ '/assets/css/mediaelementplayer.css' | relative_url }}">
<link type="text/css" rel="stylesheet" href="{{ '/assets/css/gallery.css' | relative_url }}" />
<link type="text/css" rel="stylesheet" href="{{ '/assets/css/navigation-bar.css' | relative_url }}" />
<link type="text/css" rel="stylesheet" href="{{ '/assets/css/service-list.css' | relative_url }}" />
<link type="text/css" rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}" />
<!-- end custom head snippets -->
